@using LFM.Core.Common.Extensions
@using Lfm.Web.Mvc.App.UIRenderers
@model Lfm.Web.Mvc.Models.FormModels.Mentor.MentorPageModel

@{
    ViewData["Title"] = "Looking for Mentors";
}

<div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
        <h1 class="display-5">Found mentors</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 mx-auto">
        <ul class="list-group shadow">
            
            @{
                if (Model.PageList.TotalCount == 0)
                {
                    <li class="list-group-item">No data</li>
                }
                else
                {
                    foreach (var mentor in Model.PageList)
                    {
                        <li class="list-group-item">
                            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                                <div class="media-body order-2 order-lg-1">
                                    <h5 class="mt-0 font-weight-bold mb-2">@mentor.Name</h5>
                                    <p class="font-italic text-muted mb-0 small">@mentor.SubjectsList.Select(s => s.Name).ToSeparatedString(", ")</p>
                                    <p class="font-italic text-muted mb-0 small">@CommonUiRenderer.StudyingPlaceToString(mentor.StudyingPlace)</p>
                                    <h6 class="font-weight-bold my-2">@mentor.TownName</h6>
                                    <a class="btn btn-sm btn-success stretched-link" asp-controller="Mentors" asp-action="MentorDetails" asp-route-mentorId="@mentor.MentorId">Details</a>
                                </div>
                                <img src="@Url.Action("GetMentorAvatar", "UserCabinet", new { mentorId = mentor.MentorId })" class="ml-lg-5 order-1 order-lg-2 mentors_photo" alt="@mentor.Name">
                            </div>
                        </li>
                    }
                }
            }
        </ul>
        
        <nav>
            <ul class="pagination justify-content-center">
                
                @{
                    var routeData = Model.GetAllRouteData();
                }
                
                @if (Model.Pagination.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="LookingForMentors" asp-all-route-data="routeData" asp-route-pageNumber="@(Model.Pagination.PageNumber - 1)">Previous</a>
                    </li>
                }
                
                @foreach (var prev in Model.Pagination.GetNumbersAllPreviousPages())
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="LookingForMentors" asp-all-route-data="routeData" asp-route-pageNumber="@prev">@prev</a>
                    </li>
                }

                
                @if (Model.Pagination.PageNumber > 0)
                {
                    <li class="page-item active">
                        <a class="page-link">@Model.Pagination.PageNumber</a>
                    </li>   
                }


                @foreach (var next in Model.Pagination.GetNumbersAllNextPages())
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="LookingForMentors" asp-all-route-data="routeData" asp-route-pageNumber="@next">@next</a>
                    </li>
                }
                

                 @if (Model.Pagination.PageNumber < Model.Pagination.TotalPages)
                 {
                     <li class="page-item">
                         <a class="page-link" asp-controller="Home" asp-action="LookingForMentors" asp-all-route-data="routeData" asp-route-pageNumber="@(Model.Pagination.PageNumber + 1)">Next</a>
                     </li>
                 }

            </ul>
        </nav>
    </div>
</div>
