@page "/pendingToDos/{pageNumber:int?}"
@using Lfm.Domain.Manager.Services.DataProviders
@using Lfm.Manager.Blazor.App.Models
@using Lfm.Domain.Manager.Models.SearchModel
@inject IToDoProvider Provider;

<h1>Запити на підтвердження</h1>

@if (_pageModel == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Операції
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="pendingToDos/@PageNumber">Всі</a>
            @foreach (var o in await Provider.GetPerformingOperations())
            {
            }
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Код операції</th>
            <th>Створено корситувачем</th>
            <th>Час створення</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var manager in _pageModel.PageList)
        {
            <tr>
                <td>@manager.Id</td>
                <td>@manager.OperationCode</td>
                <td>@manager.CreatedByUser</td>
                <td>@manager.CreatedDateTime</td>
            </tr>
        }
        </tbody>
    </table>
    
    <nav class="mt-3">
        <ul class="pagination justify-content-center">
            
            @if (_pageModel.Pagination.PageNumber > 1)
            {
            <li class="page-item">
                <a class="page-link" href="pendingToDos/1">&lt;&lt;</a>
            </li>
            }
                                
            @foreach (var prev in _pageModel.Pagination.GetNumbersAllPreviousPages())
            {
            <li class="page-item">
                <a class="page-link"  href="pendingToDos/@prev" >@prev</a>
            </li>
            }
                
                                
            @if (_pageModel.Pagination.PageNumber > 0)
            {
            <li class="page-item active">
                <a class="page-link">@_pageModel.Pagination.PageNumber</a>
            </li>   
            }
                
                
            @foreach (var next in _pageModel.Pagination.GetNumbersAllNextPages())
            {
            <li class="page-item">
                <a class="page-link" href="pendingToDos/@next">@next</a>
            </li>
            }
                                
                
            @if (_pageModel.Pagination.PageNumber < _pageModel.Pagination.TotalPages)
            {
            <li class="page-item">
                <a class="page-link" href="pendingToDos/@(_pageModel.Pagination.TotalPages)">>></a>
            </li>
            }
            
        </ul>
    </nav>
}

@code
{
    [Parameter]
    public int? PageNumber { get; set; }
    
    [Parameter]
    public int? OperationId { get; set; }
    
    [Parameter]
    public int? UserId { get; set; }
    
    PendingToDosListPageModel _pageModel;
    
    protected override async void OnInitialized()
    {
        var searchModel = new SearchToDosModel(OperationId, UserId);
        var toDos = await Provider.SearchPendingToDos(null, PageNumber ?? 1, 10);
        _pageModel = new PendingToDosListPageModel(toDos, null, 10);
        await base.OnInitializedAsync();
    }
}