@using Lfm.Domain.Common.Extensions
@using Lfm.Web.Mvc.App.UIRenderers
@using LFM.Core.Common.Extensions
@model Lfm.Domain.ReadModels.ReviewModels.MentorProfile.MentorProfilePreviewModel
@{
    ViewData["Title"] = "General info";
    Layout = "../_UserCabinetLayout.cshtml";
}

<div class="col-md-8">
    
    <div class="list-group-item flex-column align-items-start border-dark">
        <img src="@(Url.Action("GetMentorAvatar", "UserCabinet"))" class="profile-pic" alt="">
    </div>
    
    <div class="list-group-item flex-column align-items-start border-dark">
        <label>Full name</label>
        <hr>
        <p>@Model.Surname @Context.User.GetName() @Model.MiddleName</p>
    </div>
    
    <div class="list-group-item flex-column align-items-start border-dark">
        <label>About Me</label>
        <hr>
        <p>@Model.AboutMe</p>
    </div>

    <div class="list-group-item flex-column align-items-start border-dark">
        <label>My town</label>
        <hr>
        <p>@Model.TownName</p>
    </div>
    

    <div class="list-group-item flex-column align-items-start border-dark">
        <label>Where can I conduct lessons?</label>
        <hr>
        <p>@CommonUiRenderer.StudyingPlaceToString(Model.StudyingPlace)</p>
    </div>
    
    
    <div class="list-group-item flex-column align-items-start border-dark">
        <label>My education</label>
        <hr>
        <p>@Model.Education</p>
    </div>
    
    <a class="page-link border-info" asp-controller="MentorUserCabinet" asp-action="EditMentorGeneralInfo">Edit info...</a>
</div>

