@using Lfm.Web.Mvc.App.UIRenderers
@model Lfm.Domain.ReadModels.ReviewModels.StudentProfile.ApprovedRequestDetailsReviewModel

@{
	ViewData["Title"] = "Approved request details";
	Layout = "../_UserCabinetLayout.cshtml";
}

<div class="card">
	<div class="row">
		<article class="card-body p-5">
			<h3 class="title mb-3">@Model.SubjectName, @Model.TagName</h3>

			<dl class="param param-feature">
				<dt>Mentor name</dt>
				<dd>@Model.MentorName</dd>
				<dd><a class="btn btn-sm btn-outline-primary" 
				       asp-controller="Mentors" 
				       asp-action="MentorDetails" 
				       asp-route-mentorId="@Model.MentorId">View Profile</a></dd>
			</dl>
			
			<dl class="param param-feature">
				<dt>Mentor email</dt>
				<dd>@Model.MentorEmail</dd>
			</dl>
			
			<dl class="param param-feature">
				<dt>Mentor phone number</dt>
				<dd>@Model.MentorPhoneNumber</dd>
			</dl>

			<dl class="param param-feature">
				<dt>Cost per hour</dt>
				<dd>@Model.CostPerHour</dd>
			</dl>

			<hr>

			<dl class="param param-feature">
				<dt>Studying place</dt>
				<dd>@CommonUiRenderer.StudyingPlaceToString(Model.StudyingPlace)</dd>
			</dl>  
			
			<dl class="param param-feature">
				<dt>Amount of lessons per week</dt>
				<dd>@Model.AmountOfLessonsPerWeek</dd>
			</dl> 
			
			<dl class="param param-feature">
				<dt>Lesson duration</dt>
				<dd>@CommonUiRenderer.LessonDurationToString(Model.LessonDuration)</dd>
			</dl>
			
			<dl class="param param-feature">
				<dt>Cost per hour</dt>
				<dd>@Model.CostPerHour UAH</dd>
			</dl>
			
			<hr>

			@if (!string.IsNullOrWhiteSpace(Model.WhenToPractice) || 
                 !string.IsNullOrWhiteSpace(Model.WhichHelp) ||
                 !string.IsNullOrWhiteSpace(Model.AdditionalWishes))
            {

            	if (!string.IsNullOrWhiteSpace(Model.WhenToPractice))
            	{
            		<dl class="item-property">
            			<dt>Convenient time of lessons for student.</dt>
            			<dd><p>@Model.WhenToPractice</p></dd>
            		</dl>
            	}

            	if (!string.IsNullOrWhiteSpace(Model.WhichHelp))
            	{
            		<dl class="item-property">
            			<dt>Which help student needs.</dt>
            			<dd><p>@Model.WhichHelp</p></dd>
            		</dl>	
            	}

            	if (!string.IsNullOrWhiteSpace(Model.AdditionalWishes))
            	{
            		<dl class="item-property">
            			<dt>Additional wishes</dt>
            			<dd><p>@Model.AdditionalWishes</p></dd>
            		</dl>	
            	}

            	<hr>
            }
			
			<dl class="item-property">
				<dt>Created</dt>
				<dd><p>@Model.ApprovedDateTime.ToString("dd/MM/yyyy")</p></dd>
			</dl>
			
		</article>
	</div>
</div>