@using Lfm.Web.Mvc.App.UIRenderers
@model Lfm.Domain.ReadModels.ReviewModels.StudentProfile.PersonalRequestToMentorDetailsReviewModel

@{
	ViewData["Title"] = "Персональна заявка";
	Layout = "../_UserCabinetLayout.cshtml";
}


<div class="card">
	<div class="row">
		<article class="card-body p-5">
			<h3 class="title mb-3">@Model.SubjectName, @Model.TagName</h3>

			<dl class="param param-feature">
				<dt>Ім'я викладача</dt>
				<dd>@Model.MentorName</dd>
			</dl>
			
			<dl class="param param-feature">
				<dt>Ціна за годину</dt>
				<dd>@Model.CostPerHour</dd>
			</dl>

			<hr>
			
			<dl class="param param-feature">
				<dt>Місце проведення занять</dt>
				<dd>@CommonUiRenderer.StudyingPlaceToString(Model.StudyingPlace)</dd>
			</dl>  
			
			<dl class="param param-feature">
				<dt>Кількість занять в тиждень</dt>
				<dd>@Model.AmountOfLessonsPerWeek</dd>
			</dl> 
			
			<dl class="param param-feature">
				<dt>Тривалість занять</dt>
				<dd>@CommonUiRenderer.LessonDurationToString(Model.LessonDuration)</dd>
			</dl>

			<hr>
			
			@if (!string.IsNullOrWhiteSpace(Model.WhenToPractice) || 
			     !string.IsNullOrWhiteSpace(Model.WhichHelp) ||
			     !string.IsNullOrWhiteSpace(Model.AdditionalWishes))
			{

				if (!string.IsNullOrWhiteSpace(Model.WhenToPractice))
				{
					<dl class="item-property">
						<dt>Зручний час для проведення занять.</dt>
						<dd><p>@Model.WhenToPractice</p></dd>
					</dl>
				}

				if (!string.IsNullOrWhiteSpace(Model.WhichHelp))
				{
					<dl class="item-property">
						<dt>З чим потрібна допомога.</dt>
						<dd><p>@Model.WhichHelp</p></dd>
					</dl>	
				}

				if (!string.IsNullOrWhiteSpace(Model.AdditionalWishes))
				{
					<dl class="item-property">
						<dt>Додаткові побажання</dt>
						<dd><p>@Model.AdditionalWishes</p></dd>
					</dl>	
				}

				<hr>
			}
			
			<dl class="item-property">
				<dt>Створено</dt>
				<dd><p>@Model.CreationDateTime.ToString("dd/MM/yyyy")</p></dd>
			</dl>
			
			<hr>
			
			<dl class="item-property">
				<button class="btn btn-outline-warning" disabled>Очікування відповіді виклкдача.</button>
			</dl>

		</article>
	</div>
</div>